<h1>About this site</h1>


<p> This a dummy web site to demonstrate how to integrate jackpot in a Rails 3.2 or 3.1 application. </p>


<h2> Technical details</h2>


<p> This application uses Braintree, in test mode as its gateway. Billing is being run every hour, but you can force a billing round using the "Bill all my clients now" function </p>


<p> Be sure to visit <%= link_to "/billing" , "/billing"%> to see how the information is being stored and retrieved at jackpot </p> 
