$dark_gray:   #2C2C2C 
$gray:        #333333
$light_blue:  #ADC7D9 
$lighter_blue:#ADC7D9 
$white:       #FFFFFF
$barely_white:#EFEFEF
$red:         red

@import url(http://fonts.googleapis.com/css?family=Ubuntu|Rokkitt)

h1, h2, h3, h4 
  font-family: 'Ubuntu', Georgia, Times, serif

p
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif
  font-size: 16px
  line-height: 25px

h1
  font-size:   59px
  line-height: 70px
h2
  font-size: 41.3px
  line-height: 49px
h3
  font-size:    19.47px
  line-height:  23.1px

h4
  font-size:    15.47px
  line-height:  18.1px

#header 
  background-color: $dark_gray 
  padding: 15px 0 5px 0

  h1.logo
    font-family: Ubuntu
    font-size: 30px
    padding: 0 0 0 1em
    a 
      color: $light_blue
      span
        color: $white
      text-decoration: none
#main
  color:   $gray
  padding: 2em

  #callout
    text-align: center

  ul#subscriptions-list
    list-style: none

    li 
      text-align: center
      background-color: $barely_white
      cursor: pointer

      h2
        a
          color: $red
          text-decoration: none
      h3
        margin-top: -1em

      &:hover
        background-color: $light_blue

        h2
          color: $gray

legend
  font-size: 1.8em
  font-weight: bold
